/* STYLESHEET THAT APPLIES ON ALL THE PAGES */

html, body {
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    color: #2a2a2a;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    color: #2a2a2a;
    font-size: 20px;
    font-weight: normal;
    line-height: 26px;
    display: none;
}

h3 {
    font-size: 18px;
    color: #2a2a2a;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #323232;
}

#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

/* DROPDOWN MENU - COMPUTER */
#menuComputer {
    position: fixed;
    background-color: #2a2a2a;
    text-transform: uppercase;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    display: none;
    z-index: 10;
    letter-spacing: 1px;
}

.logoMenu {
    position: absolute;
    width: 98px;
    margin-left: 2px;
    margin-top: -1px;
}

.logoMenu:hover {
    background-color: rgb(32, 32, 32);
    border-radius: 50px 15px;
}

#horizontalMenu {
    background-color: #2a2a2a;
    max-width: 700px;
    margin: auto;
}
   
#horizontalMenu img {
    vertical-align: bottom;
}

#horizontalMenu ul {
    text-align: center;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

#horizontalMenu li {
    color: #dbdbdb;
    text-align: left;
    display: inline-block;
}

#horizontalMenu a {
    padding: 14px 25px;
    text-decoration: none;
    display: block;
    color: #dbdbdb;
}

.dropdownContent {
    position: absolute;
    background-color: #2a2a2a;
    padding-top: 16px;
    padding-bottom: 3px;
    display: none;
    z-index: 10;
    border-radius: 4px;
    margin-left: -15px;
}

.dropdownContent a {
    border-top: 1px solid #2a2a2a;
}

.dropdown:hover .dropdownContent {
    display: block;
}

#horizontalMenu a:hover {
    background-color: rgb(32, 32, 32);
    border-radius: 50px 15px;
}
/**/

/* LEFT MENU - MOBILE */
.menuMobile {
    background: #2a2a2a;
    height: 100%;
    width: 100%;
    position: fixed;
    left: -100%;
    padding-top: 5%;
    transition: 0.4s;
    z-index: 10;
    font-size: 20px;
    letter-spacing: 1px;
}

#logoLeftMenu {
    position: relative;
    width: 98px;
    object-position: center;
    margin: auto auto 40px auto;
}

.logoMenuMobile {
    width: 98px;
}

.logoMenuMobile:hover {
    background-color: rgb(32, 32, 32);
    border-radius: 50px 15px;
}

#menuButton {
    background-color: transparent;
    background-image: url("../img/menuIcon.png");
    outline: none;
    border: none;
    position: absolute;
    height: 50px;
    width: 60px;
    top: 5px;
    margin-left: 101%;
    cursor: pointer;
    transition: 0.3s;
}

.linkName { font-size: 16px; }
.gradientLine { height: 1px; background: -webkit-linear-gradient(left, #2a2a2a, black, #2a2a2a); }

.menuMobile ul a { color: #dbdbdb; display: block; text-align: center; padding: 10px 10px 30px 10px; text-decoration: none; }
.menuMobile ul { margin: 0; padding: 0;  border-top: 0px solid #000000; }
.menuMobile li { width: 250px; list-style: none; margin: auto; padding-top: 20px; text-transform: uppercase; }
.menuMobile a:hover { font-weight: bold; }
/**/

#topPage {
    position: relative;
    text-align: center;
    width: 100%;
    height: 20%;
    overflow: hidden;
    background-image: url("../img/topBackground.jpg");
    box-shadow: -2px -2px 5px #333333;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background-position: center;
}

.titleBox {
    position: relative;
    height: auto;
    width: 85%;
    margin: auto;
    display: none;
    border-radius: 4px;
}

#bottomPage {
    position: relative;
    text-align: center;
    width: 90%;
    height: 40%;
    margin: auto;
    padding-top: 10px;
}

#bodyText {
    position: relative;
    display: flex;
    line-height: 24px;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    width: 95%;
    text-align: justify;
    margin: 10px auto;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0;
}

.textColumn {
    width: 100%;
    text-align: justify;
    padding-top: 20px;
}

/* COMPUTER MODE */
@media screen and (min-width: 768px) {
    #menuComputer { display: block; }
    .menuMobile { display: none; }
    #topPage { padding-top: 50px; height: 50%; }
    .textColumn { width: 48%; }
    #bodyText { width: 70%; flex-direction: row; text-align: center; }
    h2 { display: block; }
}

