#imageButtonArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    min-width: 100px;
    margin: auto auto 20px auto;
    padding-top: 10px;
    cursor: pointer;
}

.imageButtonbox {  
    background-color: white;
    height: 160px;
    min-width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px 10px 10px 10px;
    padding: 20px 50px 10px 50px;
    box-shadow: 2px 2px 5px #999999;
    border-radius: 4px;
    flex: 1 0 10%;
    display: none;
}

#bodyText {
    flex-direction: column;
}

#bodyText p::first-line {
    font-size: 24px;
}

